<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>

    {{ block("styles", "styles.twig") }}

</head>
<body>
    <div class="container-fluid">
        <div class="col-sm-12 col-xs-12">
            <table class="table table-dark table-striped">
                <tr>
                    <th>Employee</th>
                    <th>Login</th>
                    <th>Password</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-12 col-xs-12">
            <form method="post" action="/">
                <input type="hidden" name="logout" value="logout">
                <button type="submit" class="btn btn-primary">
                    Logout
                </button>
            </form>
        </div>
    </div>
</body>
</html>