{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link btn btn-primary" href="/">Home</a>
                <a class="nav-item nav-link btn btn-primary" href="/create_user">Create new user</a>
                <a class="nav-item nav-link btn btn-primary" href="/logout" >Logout</a>
            </div>
        </div>
    </nav>
{% endblock %}